<!doctype html>
<html ng-app="demoGym">
    <head>
        <meta charset="utf-8">
        <title>Menu principal</title>
        <!-- Bootstrap -->
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <!--<link rel="stylesheet" href="/front/utils/css/bootstrap.min.css">-->
        <!-- Optional theme -->
        <!--<link rel="stylesheet" href="/front/utils/css/bootstrap-theme.min.css">-->

        <!-- Material Angular -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <!-- AngularJS -->
        <script src="/front/utils/js/angular.min.js"></script>
        <script src="/front/utils/js/angular-route.min.js"></script>
        <script src="/front/utils/js/angular-animate.min.js"></script>
        <script src="/front/utils/js/angular-cookies.min.js"></script>
        <script src="/front/utils/angu-fixed-header-table.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

        <link rel="stylesheet" href="/front/utils/css/ng-table.min.css">
        <script src="/front/utils/js/ng-table.min.js"></script>

        <!-- jQuery-->
        <script type="text/javascript" src="/front/utils/jquery.js"></script>
        <script type="text/javascript" src="/front/utils/js/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/front/utils/css/jquery-ui.min.css">

        <script type="text/javascript" src="/front/shell/js/angularBase.js"></script>
        <script type="text/javascript" src="/front/shell/js/menu.js"></script>

        <link rel="stylesheet" href="/front/shell/css/menu.css">

    </head>

    <body data-ng-controller="baseCommand" class="container">
        <md-toolbar class="md-hue-2" style="background-color: #{{colorPrincipal}}">
            <div class="md-toolbar-tools">
                <h2>
                  <span>{{nombreGym}}</span>
                </h2>
                <span flex></span>
                <h2>
                  <span>{{usuarioAutenticadoNombre}}</span>
                </h2>
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                        <md-icon md-svg-icon="/front/assets/icons/dots-vertical.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="3" >
                        <md-menu-item>
                            <md-button ng-click="cerrarSesion()">
                                <div layout="row" style="color: #000;" flex>
                                    <p flex>Cerrar sesión</p>
                                </div>
                            </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button ng-click="dialogGimnasios($event)">
                                <div layout="row" style="color: #000;" flex>
                                    <p flex>Seleccionar gimnasio</p>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

        <table class="form-control" data-ng-controller="MenuCommand">
            <tr>
                <td>
                    <div>
                        <button class="btn btnUsersIcon btnMenu" data-ng-click="goToUsuarioModule()"><label class="btnLabel">SOCIOS</label></button>
                    </div>
                </td>
                <td>
                    <div>
                        <button class="btn btnIndicadoresIcon btnMenu"><label class="btnLabel">INDICADORES</label></button>
                    </div>
                </td>
                <!--<td>
                    <div>
                        <button class="btn btnSettingIcon btnMenu"><label class="btnLabel">RUTINAS</label></button>
                    </div>
                </td>-->
            </tr>
            <tr>
                <td>
                    <div>
                        <button class="btn btnCalendarIcon btnMenu"><label class="btnLabel">HORARIO DE CLASES</label></button>
                    </div>
                </td>
                <!--<td>
                    <div>
                        <button class="btn btnAparatoIcon btnMenu" data-ng-click="changeMenuHandler()"><label class="btnLabel">CONFIGURACIÓN</label></button>
                    </div>
                </td>-->
            </tr>
        </table>
        <script type="text/ng-template" id="dialog1.tmpl.html">
            <md-dialog aria-label="Seleccione un gimnasio">
                <form ng-cloak>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>Seleccione un gimnasio</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="cancel()">
                              <md-icon md-svg-src="/front/assets/icons/close.svg" aria-label="Close dialog"></md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>

                    <md-dialog-content>
                      <div class="md-dialog-content">
                        <div class="container">
                            <div class="vertical-center-row sizeLogin">
                                Gimnasio:
                                <!--<select data-ng-model="selectedItem"
                                    data-ng-options="gym as gym.NombreGimnasio for gym in aGym" data-ng-change="goToMenu(selectedItem)">-->
                                <select data-ng-model="selectedItem"
                                    data-ng-options="gym as gym.NombreGimnasio for gym in aGym">
                                </select>
                            </div>
                        </div>
                      </div>
                    </md-dialog-content>

                    <md-dialog-actions layout="row">
                        <span flex></span>
                            <md-button ng-click="cancel()">Cancelar</md-button>
                            <md-button ng-click="answer(selectedItem)">Ir</md-button>
                    </md-dialog-actions>
                </form>
            </md-dialog>
        </script>
    </body>
</html>
