<style>
    .containerGym {
        height: 100%;
        width: auto;
        display: table;
        vertical-align: middle;
        /*border: 1px solid #f00;*/
    }

    .vertical-center-row {
        display: table-cell;
        vertical-align: middle;
        color: black;
        /*border: 1px solid #0f0;*/
    }

    td.container{
        height: 36px !important;
        display: table-cell;
    }

    select{
        width: 200px;
    }
</style>

<md-dialog aria-label="Seleccione un gimnasio">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Seleccione un gimnasio</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                  <md-icon md-svg-src="/front/assets/icons/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content">
            <div class="containerGym">
                <div class="vertical-center-row">
                    Gimnasio:
                    <!--<select data-ng-model="selectedItem"
                        data-ng-options="gym as gym.NombreGimnasio for gym in aGym" data-ng-change="goToMenu(selectedItem)">-->
                    <select data-ng-model="selectedItem"
                        data-ng-options="gym as gym.NombreGimnasio for gym in aGym">
                    </select>
                </div>
            </div>
          </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
                <md-button ng-click="cancel()">Cancelar</md-button>
                <md-button ng-click="answer(selectedItem)">Ir</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
