<!doctype html>
<html data-ng-app="demoGym">
    <head>
        <meta charset="utf-8">
        <title>Usuarios</title>
        <!-- Bootstrap -->
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <!--<link rel="stylesheet" href="/front/utils/css/bootstrap.min.css">-->
        <!-- Optional theme -->
        <!--<link rel="stylesheet" href="/front/utils/css/bootstrap-theme.min.css">-->
        <!-- Material Angular -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <!-- AngularJS -->
        <script src="/front/utils/js/angular.min.js"></script>
        <script src="/front/utils/js/angular-route.min.js"></script>
        <script src="/front/utils/js/angular-animate.min.js"></script>
        <script src="/front/utils/js/angular-cookies.min.js"></script>
        <script src="/front/utils/angu-fixed-header-table.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


        <link rel="stylesheet" href="/front/utils/css/ng-table.min.css">
        <script src="/front/utils/js/ng-table.min.js"></script>

        <script type="text/javascript" src="/front/shell/js/angularBase.js"></script>
        <script type="text/javascript" src="/front/modulos/usuariosModulo/js/UsuarioBL.js"></script>

        <!-- jQuery-->
        <script type="text/javascript" src="/front/utils/jquery.js"></script>
        <script type="text/javascript" src="/front/utils/js/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/front/utils/css/jquery-ui.min.css">

        <!-- CSS iconos -->
        <link href="/front/utils/iconos.css" rel="stylesheet" type="text/css" />
        <link href="/front/modulos/usuariosModulo/css/usersStyle.css" rel="stylesheet" type="text/css"/>

        <style>
            p{
                text-align: center;
                margin-top: 0px;
            }

            .progressCenter{
                position: absolute;
                top: 188px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
    </head>

    <body data-ng-controller="baseCommand">
        <md-toolbar class="md-hue-2" style="background-color: #{{colorPrincipal}}">
            <div class="md-toolbar-tools">
                <h2>
                    <span>{{nombreGym}}</span>
                </h2>
                <span flex></span>
                <h2>
                    <span>{{usuarioAutenticadoNombre}}</span>
                </h2>
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                        <md-icon md-svg-icon="/front/assets/icons/dots-vertical.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="3" >
                        <md-menu-item>
                            <md-button ng-click="cerrarSesion()">
                                <div layout="row" flex>
                                    <p flex>Cerrar sesión</p>
                                </div>
                            </md-button>
                    </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

        <div class="backgroundWhite-t">
            <div class="divMenu" data-ng-controller="UsuariosCommand" style="{{colorToRgba(colorPrincipal, 0.2)}}">
                <button data-ng-click="backToMenu()" class="btn iconMedium ic_back" style="{{colorToRgba(colorPrincipal, 0.4)}}"></button>
                <label>USUARIOS</label>

                <div class="divFilter">
                    <div layout="row">
                        <md-input-container class="md-block" flex="20">
                            <label>Sucursal</label>
                            <md-select ng-model="selectedItem" ng-change="getUserBySucursal()" ng-disabled="showProgress">
                                <md-option ng-repeat="sucursal in aSucursal" ng-value="sucursal">{{sucursal.Nombre}}</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block" flex="20">
                            <label>Buscar por codigo</label>
                            <input type="text" class="text-input-search" data-ng-model="codigoForza" data-ng-change="getUserByCode()" placeholder="ejemplo: ABC0123" maxlength="7" pattern="[A-Za-z0-9]{1,8}" data-ng-disabled="selectedItem === null || showProgress">
                        </md-input-container>

                        <md-input-container class="md-block" flex="30">
                            <label>Asociar nuevo socio:</label>
                            <input style="{{styleStr}}" type="text" value="{{usuarioConsultado.NombreUsuario}}{{usuarioConsultado.Nombre}} {{usuarioConsultado.Apellidos}}" disabled>
                        </md-input-container>
                        <div layout="row">
                        <button class="btn iconMedium ic_user_asociar" data-ng-show="isAsociar" title="Asociar" data-ng-click="asociarUsuario($event)" style="{{colorToRgba(colorPrincipal, 0.4)}}"></button>
                        <button class="btn iconMedium ic_user_cambio_suc" data-ng-show="isCambioSuc" title="Cambiar de sucursal" data-ng-click="actualizarSucursal()" style="{{colorToRgba(colorPrincipal, 0.4)}}"></button>
                        <button class="btn iconMedium ic_user_baja" data-ng-show="isBaja" title="Dar de baja" data-ng-click="actualizarEstatus(0)" style="{{colorToRgba(colorPrincipal, 0.4)}}"></button>
                        <button class="btn iconMedium ic_user_reingresar" data-ng-show="isReingresar" title="Reingresar" data-ng-click="actualizarEstatus(1)" style="{{colorToRgba(colorPrincipal, 0.4)}}"></button>
                            </div>
                    </div>
                </div>

                <div class="margin-top-input" layout="row">
                    <md-input-container class="md-block" flex="40">
                        <input class="inputTextFilter" type="text" placeholder="Filtrar por nombre y descripcion"
                        data-ng-model="searchItem" ng-disabled="showProgress">
                    </md-input-container>
                </div>

                <md-subheader class="md-no-sticky margin-headers">
                    <div layout="row" layout-fill style="height: 16px;">
                        <p >Estatus</p>
                        <p flex="20">ID-FORZA</p>
                        <p flex="35">Nombre</p>
                        <p flex="35">Correo</p>
                    </div>
                </md-subheader>

                 <div class="divGrid">
                     <md-list ng-cloak>

                        <md-divider></md-divider>
                        <md-list-item class="secondary-button-padding" ng-repeat="socio in aSocios | filter:searchItem" ng-click="selectUser(socio)">
                            <div class="divBoulet" data-ng-class="{'divBoulet-On':{{socio.Estatus=='1'}}, 'divBoulet-Off':{{socio.Estatus=='0'}}}" style="margin-left: 12px; margin-right: 12px;"></div>
                            <p flex="20"> {{ socio.CodigoEnforma }} </p>
                            <p flex="35"> {{ socio.NombreUsuario }} {{ socio.Apellidos }} </p>
                            <p flex="35"> {{ socio.Correo }} </p>
                        </md-list-item>
                     </md-list>
                </div>
            </div>

            <md-progress-circular ng-disabled="!showProgress" ng-show="showProgress" class="md-hue-2 progressCenter" md-diameter="32px"></md-progress-circular>
        </div>

        <script>

        </script>
    </body>
</html>
